@font-face {
    font-family: 'cursiva1';
    src: url(./always_smile/Always\ Smile.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cursiva2';
    src: url(./amelinda/Amelinda.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: sans-serif;
    font-style: italic;
}
#span {
    background-color: rgba(0, 0, 0, 0.574);
    position: absolute;
    width: 100%;
    height: 100%;
    
}

#msgSpan {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 40%;
    background-color: white;
    padding: 50px 50px;
    border-radius: 12px;
    margin: auto;
}

#msgSpan p  {
    color: black;
    margin: 0;
}

#msgSpan input {
    margin: 20px 0px;
    padding: 10px;
    border-color: rgba(0, 0, 0, 0.471);
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

#msgSpan input:focus {
    outline: none;
}

#spanButton {
    border-color: rgba(0, 0, 0, 0.471);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px ;
}

#spanButton:hover {
    color: white;
    border-style: none ;
    transition: 0.5s;
    background-color: rgb(116, 220, 192);

}

#ContentPer {
    display: flex;
}

#boxNamePer {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0px 100px;
}

#textPer {
    display: flex;
    flex-direction: column;
    flex: 1 1 ;
    margin: 40px 0px 0px 53px;
}

#NamePer {
    width: 420px;
    height: 390px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    box-shadow: 1px 1px 12px #00000070;
}

h1 {
    font-size: 3.7rem;
    text-align: center;
    margin-top: 37%;
}

p {
    width: 100%;
    font-size: 1rem;
    color: red;
}

#typeText {
    text-align: center;
    padding: 10px 125px;
    font-size:20px;
    border-radius: 3px;
}

#NameText {
    text-align: center;
    padding: 10px 125px;
    font-size:20px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

#NameText:focus {
    outline: none;
}

#Fonts {
    text-align: center;
    padding: 10px 125px;
    font-size:20px;
    border-radius: 3px;
}

#red {
    background-color: red;
    cursor: pointer;
    
}

#orange {
    background-color: orange;
    cursor: pointer;
}

#yellow {
    background-color: yellow;
    cursor: pointer;
}

#lightgreen {
    background-color: greenyellow;
    cursor: pointer;
}

#green {
    background-color: green;
    cursor: pointer;
}

#lightblue {
    background-color: lightskyblue;
    cursor: pointer;
}

#blue {
    background-color: blue;
    cursor: pointer;
}

#purple {
    background-color: blueviolet;
    cursor: pointer;
}

#pink {
    background-color: deeppink;
    cursor: pointer;
}

#black {
    background-color: black;
    cursor: pointer;
}

#boxColor ul li{
    display: inline-block;
    margin-right: 9px;
}

.color {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 10px #00000073;
}

.button {
    font-size: 20px;
    padding: 14px;
    width: 246px;
    height: 50px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px ;
    border-color: rgba(0, 0, 0, 0.452);
}

#Buy:hover {
    transition: 0.5s;
    border-color: rgba(255, 255, 255, 0);
    background-color: green;
    color: white;
}

#Cancel:hover {
    transition: 0.5s;
    border-color: rgba(255, 255, 255, 0);
    background-color: red;
    color: white;
}

#Cancel {
    margin: 5px 5px 5px 5px;
}

#Buy {
    margin: 5px 5px 5px 5px;
}

#Fonts {
    font-family: 'Courier New';
    color: gray;
}

#Fonts:focus {
    outline: none;
}

#font1 {
    font-family: 'Courier New', Courier, monospace;
}
#font2 {
    font-family: 'cursiva1';
}
#font3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#font4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#font5 {
    font-family: 'Cursiva2';
}
